@media (min-width: 992px) and (max-width: 1199px) {
    .instagram-frame {
        width: 100%;
        height: 308px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .instagram-frame {
        width: 100%;
        height: 789px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .instagram-frame {
        width: 100%;
        height: 608px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}

@media (min-width: 574px) and (max-width: 575px) {
    .instagram-frame {
        width: 100%;
        height: 626px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .instagram-frame {
        width: 100%;
        height: 370px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}
