/**
* Template Name: BizPage - v2.0.0
* Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #fff;
    color: #666666;
}

a {
    color: #000;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #ffac32;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10 0 10px 0;
    padding: 0;
}

.clear {
    clear: left;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: #ffac32;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

/* Prelaoder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #18d26e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    /*padding: 30px 0;*/
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled {
    /* padding: 20px 0;*/
    height: 80px;
    transition: all 0.5s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
    color: black;
}

#header.header-scrolled a {
    /* padding: 20px 0;*/
    color: #000;
}

#header.header-scrolled a:hover {
    color: #ffac32;
}

#header.header-scrolled .menu-active>a {
    color: #ffac32;
}


#header #logo {
    float: left;
}

@media (min-width: 768px) {
    #header #logo {
        padding-left: 60px;
        padding-top: 8px;
    }
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #18d26e;
}

#header #logo img {
    padding: 0;
    margin: 0;
    width: 200px;
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 28px;
        margin-top: 22px;
    }

    #header #logo img {
        max-height: 40px;
        margin-top: 22px;
    }
}

#header2 {
    /*padding: 30px 0;*/
    height: 88px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
}

#header2.header-scrolled {
    /* padding: 20px 0;*/
    height: 80px;
    transition: all 0.5s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
    color: black;
}

#header2.header-scrolled a {
    /* padding: 20px 0;*/
    color: #000;
}

#header2.header2-scrolled a:hover {
    color: #ffac32;
}

#header2.header2-scrolled .menu-active>a {
    color: #ffac32;
}


#header2 #logo2 {
    float: left;
}

@media (min-width: 768px) {
    #header2 #logo2 {
        padding-left: 60px;
        padding-top: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1181px) {
    #header2 #logo2 {
        padding-left: 60px;
        padding-top: 8px;
    }
}

@media (min-width: 769px) {
    #nav-menu-container {
        padding-right: 60px;
        padding-top: 25px;
    }

    #header2 #logo2 {
        padding-left: 60px;
        padding-top: 8px;
    }
}

#header2 #logo2 h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
}

#header2 #logo2 h1 a,
#header2 #logo2 h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #18d26e;
}

#header2 #logo2 img {
    padding: 0;
    margin: 0;
    width: 52px !important;
}

@media (max-width: 480px) {
    #header2 #logo2 h1 {
        font-size: 28px;
        margin-top: 22px;
    }

    #header2 #logo2 img {
        margin-top: 15px;
        height: 64%;
        width: 75px !important;
    }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
    display: table;
    width: 100%;
    height: 0vh;
    margin-top: 82px;
    background: #000;
}

/*#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }*/

#intro .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
}

#intro .carousel-content {
    text-align: center;
}

#intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

@media and (min-width: 1000px) {
    #intro {
        font-size: 28px;
    }

    #intro h2 {
        font-size: 28px;
    }

    #intro .carousel-item {
        height: 585px !important;
        /*margin-top: 86px;*/
    }
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}

@media (min-width: 768px) {
    #intro p {
        width: 60%;
    }
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

@media (min-width: 768px) {

    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 5%;
    }
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #ffac32;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #25a2cc;
}

.card-donasi h5 {
    color: #ffac32;
    font-weight: 600;
}


.btn-nominal:hover,
.btn-nominal:active,
.btn-nominal:focus {
    color: white;
    background-color: #ffac32;
}

.btn-nominal span {
    font-weight: 600;
    font-size: 13px;
}

.btn-nominal2:hover,
.btn-nominal2:active,
.btn-nominal2:focus {
    color: white;
    background-color: #ffac32;
}

.btn-nominal2 span {
    font-weight: 600;
    font-size: 13px;
}

@media (max-width: 992px) {
    .btn-nominal2 {
        margin-top: 10px;
    }

    .btn-nominal2 span {
        font-weight: 600;
        font-size: 13px;
    }
}

@media (max-width: 291px) {
    .btn-nominal2 {
        margin-top: 11px;
    }

    .btn-nominal span {
        font-size: 11px !important;
    }

    .btn-nominal2 span {
        font-size: 11px !important;
    }
}

.aktif {
    color: white;
    background-color: #ffac32;
}

.btn-donasi {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.5s;
    /*margin: 10px;*/
    width: 100%;
    color: #fff !important;
    border-color: #ffac32 !important;
    background: #ffac32;
}

.btn-donasi:hover,
.btn-donasi:focus {
    color: #fff !important;
    border-color: #ffac32 !important;
    background: #f19e20 !important;
}

.btn-konfir {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    /* padding: 8px 32px; */
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
    height: 100%;
    /* margin: 10px; */
    width: 100%;
    color: #4c97cf !important;
    border: 2px solid #2882c5d4 !important;
    background: #ffffffd4;
}

.btn-konfir:hover,
.btn-konfir:focus,
.btn-konfir:active {
    color: #fff !important;
    border-color: #1968a2d4 !important;
    background: #1968a2d4 !important;
}

@media (max-width: 991px) {
    .margin {
        margin: 5px 0px;
    }
}

.btn-tips1 {
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.5s;
    margin: 10px;
    /* width: 100%; */
    color: #fff !important;
    border: 2px solid #2882c5d4 !important;
    background: #2882c5d4;
}

.btn-tips1:hover,
.btn-tips1:active,
.btn-tips1:hover {
    color: #fff !important;
    border-color: #1968a2d4 !important;
    background: #1968a2d4 !important;
}

.btn-tips2 {
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.5s;
    margin: 10px;
    /* width: 100%; */
    color: #fff !important;
    border: 2px solid #f19e20 !important;
    background: #ffac32;
}

.btn-tips2:hover {
    color: #fff !important;
    border-color: #ffac32 !important;
    background: #f19e20 !important;
}

@media (max-width: 992px) {
    .btn-tips1 {
        margin-top: 10px;
    }

    .btn-tips2 {
        margin-top: 10px;
    }
}

.btn-share {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.5s;
    /*margin: 10px;*/
    color: #fff;
    background: #ffac32;
}

.btn-share:hover {
    background: #fff;
    color: #25a2cc;
}

.form-donasi a {
    color: #000;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black !important;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 35px;
}

.sf-arrows .sf-with-ul:after {
    position: absolute;
    right: 15px;
    content: "\F107";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0;
}

@media (min-width: 768px) {
    #nav-menu-container {
        padding-right: 60px;
        padding-top: 28px;
    }
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    /*color: #fff;*/
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: #ffac32 !important;
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: #18d26e;
}

.nav-menu ul ul {
    margin: 0;
}


/* Nav Menu Essentials */
.nav-menu2,
.nav-menu2 * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu2 ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu2 li {
    position: relative;
    white-space: nowrap;
}

.nav-menu2>li {
    float: left;
}

.nav-menu2 li:hover>ul,
.nav-menu2 li.sfHover>ul {
    display: block;
}

.nav-menu2 ul ul {
    top: 0;
    left: 100%;
}

.nav-menu2 ul li {
    min-width: 180px;
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0;
}

@media (min-width: 768px) {
    #nav-menu-container {
        padding-right: 60px;
        padding-top: 25px;
    }
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu2 a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu2 li:hover>a,
.nav-menu2>.menu-active>a {
    color: #ffac32;
}

.nav-menu2>li {
    margin-left: 10px;
}

.nav-menu2 ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu2 ul li {
    transition: 0.3s;
}

.nav-menu2 ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu2 ul li:hover>a {
    color: #18d26e;
}

.nav-menu2 ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 7px;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #ffac32;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: #ffffff;
    left: -260px;
    width: 245px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
}

#mobile-nav ul li a:hover {
    color: #FDB03A;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
    color: #FDB03A;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #000;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #ffac32;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: #ffac32;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/

section {
    background-color: #fff !important;
}

.section-header .section-category {
    /* background-color: #488fc5; */
    background-color: #ffb549;
    padding: 7px;
    padding: 7px;
    font-size: 12px;
    border-radius: 7px;
    color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.section-header .section-title-detail {
    font-size: 26px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3 {
    font-size: 26px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #fdb03a;
    bottom: 0;
    left: calc(50% - 20px);
}

@media (max-width: 400px) {
    .section-header h3 {
        font-size: 19px;
        color: #111;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        position: relative;
        padding-bottom: 15px;
    }

    .section-header h3::before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
    }

    .section-header h3::after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #fdb03a;
        bottom: 0;
        left: calc(50% - 20px);
    }
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

.section2-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section2-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section2-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #4b93ca;
    ;
    bottom: 0;
    left: calc(50% - 20px);
}

.section2-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
    background: #f7f7f7;
}

/* Featured Services Section
--------------------------------*/
#featured-services {
    background: #ffffff;
}

#featured-services .box {
    padding: 30px 20px;
}

#featured-services .box-bg {
    background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-services i {
    color: #fff;
    font-size: 42px;
    display: inline-block;
    line-height: 1;
}

#featured-services h4 {
    font-weight: 600;
    margin: 10px;
    font-size: 15px;
}

.tombol {
    margin: 6px auto;
    margin-bottom: 0px;
    cursor: pointer;
    background-color: #fdb03a;
    font-size: 2.3em;
    border: none;
    border-radius: 50%;
    color: white;
    line-height: 1em;
    width: 2em;
    height: 2em;
    text-align: center;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 25px -6px rgb(202, 202, 202);
    animation: effect 5s infinite ease-in;
}

#featured-services h4 a {
    font-weight: 600;
    color: #000;
    font-size: 15px;
}

#featured-services h4 a:hover {
    color: #ffac32;
}

#featured-services p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
}

/* About Us Section
--------------------------------*/
#about {
    /*background: url("../img/about-bg.jpg") center top no-repeat fixed;*/
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

#about .container {
    position: relative;
    z-index: 10;
}

#about .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

#about .about-col .img {
    position: relative;
}

#about .about-col .img img {
    border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #18d26e;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc(50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}

#about .about-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

#about .about-col:hover .icon {
    background-color: #fff;
}

#about .about-col:hover i {
    color: #18d26e;
}

#about .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
}

#about .about-col h2 a {
    color: #000;
}

#about .about-col h2 a:hover {
    color: #18d26e;
}

#about .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

/* Services Section
--------------------------------*/
#services {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;
}

#services .box {
    margin-bottom: 30px;
}

#services .icon {
    float: left;
}

#services .icon i {
    color: #18d26e;
    font-size: 36px;
    line-height: 1;
    transition: 0.5s;
}

#services .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #18d26e;
}

#services .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#call-to-action h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#call-to-action p {
    color: #fff;
}

#call-to-action .cta-btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#call-to-action .cta-btn:hover {
    background: #18d26e;
    border: 2px solid #18d26e;
}

/* Call To Action Section
--------------------------------*/
#skills {
    padding: 60px 0;
}

#skills .progress {
    height: 35px;
    margin-bottom: 10px;
}

#skills .progress .skill {
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}

#skills .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}

#skills .progress-bar {
    width: 1px;
    text-align: left;
    transition: .9s;
}

/* Facts Section
--------------------------------*/
#facts {
    background: url("../img/facts-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 0 0;
    position: relative;
}

#facts::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 9;
}

#facts .container {
    position: relative;
    z-index: 10;
}

#facts .counters span {
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #18d26e;
}

#facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    color: #111;
}

#facts .facts-img {
    text-align: center;
    padding-top: 30px;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
    padding: 75px 0px 45px 0px;
}

@media all and (max-width: 670px) {
    #portfolio {
        padding: 20px 0px 20px 0px !important;
    }
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    background: #ffffff;
    color: #4a93ca !important;
    border: 2px solid #4b94cb !important;
}
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
    position: relative;
    height: 300px !important;
    overflow: hidden;
}

#portfolio .portfolio-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#portfolio .portfolio-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview,
#portfolio .portfolio-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i,
#portfolio .portfolio-item figure .link-details i {
    padding-top: 9px;
    font-size: 20px;
    color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover,
#portfolio .portfolio-item figure .link-details:hover {
    background: #ffac32;
}

#portfolio .portfolio-item figure .link-preview:hover i,
#portfolio .portfolio-item figure .link-details:hover i {
    color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    /* padding: 30px; */
    height: 45px;
    border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    line-height: 5px;
    font-weight: 700;
    margin-bottom: -17px;
    padding-top: 15px;
    padding-bottom: 28px;
}

#portfolio .portfolio-item .portfolio-info h4 a {
    color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #ffac32;
}

#portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}


/* Portfolio Section
--------------------------------*/
#portfolio2 {
    padding: 0px 0px 85px 0px;
}

#portfolio2 .judul {
    margin-top: 80px;
}

@media all and (max-width: 670px) {
    #portfolio2 {
        padding: 0px 0px 50px 0px !important;
    }
}

#portfolio2 #portfolio2-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio2 #portfolio2-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio2 #portfolio2-flters li:hover,
#portfolio2 #portfolio2-flters li.filter-active {
    background: #ffffff;
    color: #ffac32;
    border: 1px solid #ffac32;
}

#portfolio2 #portfolio2-flters li:last-child {
    margin-right: 0;
}

#portfolio2 .portfolio2-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#portfolio2 .portfolio2-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio2 .portfolio2-item {
    position: relative;
    height: 322px;
    overflow: hidden;
}

#portfolio2 .portfolio2-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#portfolio2 .portfolio2-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio2 .portfolio2-item figure .link-preview,
#portfolio2 .portfolio2-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#portfolio2 .portfolio2-item figure .link-preview i,
#portfolio2 .portfolio2-item figure .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
}

#portfolio2 .portfolio2-item figure .link-preview:hover,
#portfolio2 .portfolio2-item figure .link-details:hover {
    background: #ffac32;
}

#portfolio2 .portfolio2-item figure .link-preview:hover i,
#portfolio2 .portfolio2-item figure .link-details:hover i {
    color: #fff;
}

#portfolio2 .portfolio2-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio2 .portfolio2-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio2 .portfolio2-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
}

#portfolio2 .portfolio2-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
}

#portfolio2 .portfolio2-item .portfolio2-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 0px;
    border-radius: 0 0 3px 3px;
}

#portfolio2 .portfolio2-item .portfolio2-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
}

#portfolio2 .portfolio2-item .portfolio2-info h4 a {
    color: #333;
}

#portfolio2 .portfolio2-item .portfolio2-info h4 a:hover {
    color: #ffac32;
}

#portfolio2 .portfolio2-item .portfolio2-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

/* Portfolio Section
--------------------------------*/
#portfolio3 {
    padding: 0px 0px 55px 0px;
}

#portfolio3 .judul {
    margin-top: 80px;
}

@media all and (max-width: 670px) {
    #portfolio3 {
        padding: 0px 0px 48px 0px !important;
    }

    #portfolio3 .judul {
        margin-top: 28px !important;
    }
}

#portfolio3 #portfolio3-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio3 #portfolio3-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio3 #portfolio3-flters li:hover,
#portfolio3 #portfolio3-flters li.filter-active {
    background: #ffffff;
    color: #ffac32;
    border: 1px solid #ffac32;
}

#portfolio3 #portfolio3-flters li:last-child {
    margin-right: 0;
}

#portfolio3 .portfolio3-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#portfolio3 .portfolio3-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio3 .portfolio3-item {
    position: relative;
    height: 270px;
    overflow: hidden;
}

#portfolio3 .portfolio3-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#portfolio3 .portfolio3-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio3 .portfolio3-item figure .link-preview,
#portfolio3 .portfolio3-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#portfolio3 .portfolio3-item figure .link-preview i,
#portfolio3 .portfolio3-item figure .link-details i {
    padding-top: 10px;
    font-size: 22px;
    color: #333;
}

#portfolio3 .portfolio3-item figure .link-preview:hover,
#portfolio3 .portfolio3-item figure .link-details:hover {
    background: #ffac32;
}

#portfolio3 .portfolio3-item figure .link-preview:hover i,
#portfolio3 .portfolio3-item figure .link-details:hover i {
    color: #fff;
}

#portfolio3 .portfolio3-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
    margin-left: 30px;
}

#portfolio3 .portfolio3-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
}

#portfolio3 .portfolio3-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
}

#portfolio3 .portfolio3-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
}

#portfolio3 .portfolio3-item .portfolio3-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
}

#portfolio3 .portfolio3-item .portfolio3-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
}

#portfolio3 .portfolio3-item .portfolio3-info h4 a {
    color: #333;
}

#portfolio3 .portfolio3-item .portfolio3-info h4 a:hover {
    color: #ffac32;
}

#portfolio3 .portfolio3-item .portfolio3-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}



/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    background-color: #2b5286;
}

.table100.ver1 td {
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
    width: 46px;
}

.table100.ver1 .table100-body tr:nth-child(even) {
    background-color: #f8f6ff;
}

@media all and (max-width: 670px) {
    .table100.ver1 {
        border-radius: 7px;
        overflow: hidden;
        margin-top: 15px;
        box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    }
}

/*---------------------------------------------*/

.table100.ver1 {
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
    right: 5px;
}

.table100.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
    position: relative;
    overflow: hidden;
}

.table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
}

.table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 1366px;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
    background-color: #fff;
}

table {
    width: 100%;
}

th,
td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 28%;
    padding-left: 5px;
}

.column2 {
    width: 13%;
}

.column3 {
    width: 22%;
}

.column4 {
    width: 19%;
}

.column5 {
    width: 13%;
}

.table100-head th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table100-body td {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
    position: relative;
    padding-top: 42px;
}

@media all and (max-width: 670px) {
    .table100 {
        position: relative;
        padding-top: 45px;
    }

    .table100-head th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .table100.ver1 th {
        font-size: 13px;
        color: #fff;
        /* margin-top: 77px; */
        line-height: 1.4;
        background-color: : #2b5286;
        border: none;
    }

    .table101.ver1 th {
        font-size: 13px;
        color: #fff;
        /* margin-top: 77px; */
        line-height: 1.4;
        background-color: : #2b5286;
        border: none;
    }
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    max-height: 585px;
    overflow: auto;
}


.btn-donatur {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    float: none;
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s;
    margin-top: 16px;
    margin-bottom: 28px;
    font-weight: bold;
    width: 42% !important;
    color: #4c97cf !important;
    border: 2px solid #4b94cb !important;
    background: #ffffff;
}

.btn-donatur:hover,
.btn-donatur:active,
.btn-donatur:focus {
    color: #fff !important;
    border-color: #2b5286 !important;
    background: #2b5286 !important;
}

.btn-berita {
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    float: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.5s;
    margin-top: 32px;
    text-align: center;
    margin-bottom: 28px;
    font-weight: bold;
    /*width: 20% !important;*/
    color: #ffffff !important;
    /*border: 2px solid #ffac32 !important;*/
    background: #ffac32;
}

.btn-berita:hover,
.btn-berita:active,
.btn-berita:focus {
    color: #fff !important;
    border-color: #ffac32 !important;
    background: #f19e20 !important;
}

.btn-galeri {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    float: left;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.5s;
    margin-top: 35px;
    margin-bottom: 28px;
    width: 20% !important;
    color: #fff !important;
    border: 2px solid #4b94cb !important;
    background: #4b94cb;
}

.btn-galeri:hover {
    color: #fff !important;
    border-color: #2b5286 !important;
    background: #2b5286 !important;
}

@media all and (max-width: 670px) {
    .btn-galeri {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        float: left;
        padding: 8px 32px;
        border-radius: 8px;
        transition: 0.5s;
        margin-top: 25px;
        margin-bottom: 28px;
        width: 70% !important;
        color: #fff !important;
        border: 2px solid #4b94cb !important;
        background: #4b94cb;
    }

    .btn-galeri:hover {
        color: #fff !important;
        border-color: #2b5286 !important;
        background: #2b5286 !important;
    }
}

.total {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
    /* margin-bottom: 10px; */
    height: 100%;
    padding: 3px;
    border-radius: 7px;
    border: 1px solid #f7f7f7;

}

.total h3 {
    color: #4991c7;
    padding: 0;
    margin: 0;
}

/* Clients Section
--------------------------------*/
#clients {
    padding: 50px 0px 50px 0px;
}

#clients img {
    max-width: 75%;
    opacity: 0.5;
    transition: 0.5s;
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
}

@media all and (max-width: 670px) {
    #clients img {
        max-width: 100%;
        padding: 28px;
    }
}

/*#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  }*/

/*#clients .owl-dot.active {
  background-color: #18d26e;
  }*/


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
    padding-left: 50px;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    position: relative;
    background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #e1f0fa;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.testimonials .owl-dot.active {
    background-color: #3498db !important;
}

@media (max-width: 767px) {
    .testimonials .testimonial-wrap {
        padding-left: 0;
    }

    .testimonials .testimonial-item {
        padding: 30px;
        margin: 15px;
    }

    .testimonials .testimonial-item .testimonial-img {
        position: static;
        left: auto;
    }
}

/* Team Section
--------------------------------*/
#team {
    background: #fff;
    padding: 60px 0;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #000;
    position: relative;
}

#team .member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

#team .member .member-info-content {
    margin-top: -50px;
    transition: margin 0.2s;
}

#team .member:hover .member-info {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social a:hover {
    color: #18d26e;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
    padding: 60px 0;
}

#contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
}

#contact .contact-info i {
    font-size: 28px;
    display: inline-block;
    margin-bottom: 10px;
    color: #fdb03a;
}

#contact .contact-info address,
#contact .contact-info p {
    margin-bottom: 0;
    color: #000;
}

#contact .contact-info h5 {
    /* font-size: 18px; */
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

#contact .contact-info a {
    color: #000;
}

#contact .contact-info a:hover {
    color: #fdb03a;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
    margin-bottom: 20px;
}

@media (min-width: 768px) {

    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email,
    #contact .contact-wa {
        padding: 20px 0;
    }
}

@media (min-width: 768px) {
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        /* border-right: 1px solid #ddd; */
    }

    #contact .contact-email {
        border-left: 1px solid #ddd;
        /* border-right: 1px solid #ddd; */
    }
}

#contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
}

#contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

#contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #2b5287;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

#contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #2b5287;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    height: 100%;
}

#contact .php-email-form input::focus,
#contact .php-email-form textarea::focus {
    background-color: #2b5287;
}

#contact .php-email-form button[type="submit"] {
    background: #2b5287;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

#contact .php-email-form button[type="submit"]:hover {
    background: #224577;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #2b5286;
    padding: 0 0 30px 0;
    color: #eee;
    bottom: 0;
    position: relative;
    width: 100%;
    font-size: 14px;
}

#footer .footer-top {
    background: #4992c8;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #18d26e;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #ffffff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: #fff;
}

.instagram:hover {
    background: #ffac32;
}

.youtube {
    background: #FF0000;
}

.youtube:hover {
    background: #ffac32;
}


#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0;
    background: #ffffff;
}

#footer .footer-top h4::after {
    background: #dcdcdc;
    width: 180px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
}

#footer .footer-top .footer-links ul li {
    /* border-bottom: 1px solid #333; */
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: rgb(255, 255, 255);
}

#footer .footer-top .footer-links ul p {
    color: #e6e1e1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #ffac32;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p a {
    line-height: 26px;
    color: #ffffff;
}

#footer .footer-top .footer-contact p a:hover {
    color: #ffc56f !important;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #18d26e;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #13a456;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

#footer .copyright a {
    color: #fff !important;
}

#footer .copyright a:hover {
    color: #ffae36 !important;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #fff !important;
}

#footer .credits a:hover {
    color: #ffae36 !important;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    /*min-width: 290px;*/
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.22);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

    .news-card {
        height: 18rem;
    }
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
    ;
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    width: 100%;
    color: white;
    /*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
}

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
    font-size: 1rem !important;
}


.news-card__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
}

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}



@media (min-width: 900px) {
    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }

    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .news-card:hover .news-card__title {
        color: #ffac32;
    }

    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }

    .news-card__details-wrapper p {
        font-size: 14px;
    }

    .news-card__title {
        transition: color 1s ease;
        margin-bottom: .5rem;
        font-size: 21px !important;
    }
}

.news-card__excerpt {
    font-weight: 300;
}

.news-card__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 10rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.news-card__read-more i {
    position: relative;
    left: 0.2rem;
    color: #888;
    transition: left 0.5s ease, color 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.news-card__read-more:hover i {
    left: 0.5rem;
    color: yellow;
}

@media only screen and (min-width: 992px) {
    .course {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        display: flex;
        max-width: 100%;
        overflow: hidden;
        border: 1px solid #e4e4e4;
        /* height: 300px; */
        height: 270px;
        padding: 0;
        margin: 0;
    }

    .course h6 {
        opacity: 0.6;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .course h2 {
        letter-spacing: 1px;
        margin: 10px 0;
    }

    .course-preview {
        /*background-image: url("paper.gif");*/
        color: #fff;
        /*padding: 30px;*/
        width: 100%;
    }

    .course-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 1;
        /*margin-top: 30px;*/
        text-decoration: none;
    }

    .kategori {
        border: 1px solid white;
        padding: 13px;
        background-color: white;
        position: absolute;
        /* float: right; */
        border-radius: 55px;
        right: 0;
        margin: 20px;
        /* margin-bottom: 0px; */
        bottom: 0;
        /* top: 44px; */
        text-align: center;
        font-weight: 600;
        /* bottom: 0; */
        font-size: 13px !important;
        color: #ffac32;

    }

    .kategori a {
        color: #ffac32;
    }


    .konten {
        margin-top: 28px;
        font-size: 14px;
        line-height: 2;
    }

    .course-preview a img {
        width: 100%;
        height: 100%;
        min-height: -webkit-fill-available;
        overflow: hidden;
        /*text-align: right;
   top: 0.3px;
   right: 0px;
   object-fit: cover;*/
    }

    .course-info {
        padding: 30px;
        position: relative;
        width: 100%;
        color: white;
        background-color: #4992c8;
    }

    .course-info h4 {
        color: white;
    }
}

@media only screen and (max-width: 991px) {
    .course {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        display: flex;
        max-width: 100%;
        overflow: hidden;
        border: 1px solid #e4e4e4;
        height: 28vh;
        padding: 0;
        margin: 0;
    }

    .course h6 {
        opacity: 0.6;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .course h2 {
        letter-spacing: 1px;
        margin: 10px 0;
    }

    .course-preview {
        /*background-image: url("paper.gif");*/
        color: #fff;
        /*padding: 30px;*/
        width: 100%;
    }

    .course-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 1;
        /*margin-top: 30px;*/
        text-decoration: none;
    }

    .kategori {
        border: 1px solid white;
        padding: 5px;
        background-color: white;
        position: absolute;
        float: right;
        border-radius: 55px;
        right: 0;
        margin: 10px;
        /* margin-bottom: 0px; */
        bottom: 0;
        /* top: 44px; */
        text-align: center;
        font-weight: 600;
        /* bottom: 0; */
        font-size: 6px !important;
        color: #ffac32;
    }

    .kategori a {
        color: #ffac32;
    }

    .course-preview a img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: right;
        top: 0.3px;
        background-position: center;
        right: 0px;
        background-size: cover;
        min-height: 33vh;
        object-fit: cover;
    }

    .course-info {
        padding: 13px 12px 0px 12px;
        position: relative;
        width: 100%;
        color: white;
        background-color: #4992c8;
    }

    .course-info h4 {
        color: white;
        font-size: 12px !important;
    }

    .course-info p {
        font-size: 8px !important;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 425px) {
    .course {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        display: flex;
        max-width: 100%;
        overflow: hidden;
        border: 1px solid #e4e4e4;
        height: 26vh;
        padding: 0;
        margin: 0;
    }

    .course h6 {
        opacity: 0.6;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .course h2 {
        letter-spacing: 1px;
        margin: 10px 0;
    }

    .course-preview {
        /*background-image: url("paper.gif");*/
        color: #fff;
        /*padding: 30px;*/
        width: 100%;
    }

    .course-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 1;
        /*margin-top: 30px;*/
        text-decoration: none;
    }

    .kategori {
        border: 1px solid white;
        padding: 5px;
        background-color: white;
        position: absolute;
        float: right;
        border-radius: 55px;
        right: 0;
        margin: 10px;
        /* margin-bottom: 0px; */
        bottom: 0;
        /* top: 44px; */
        text-align: center;
        font-weight: 600;
        /* bottom: 0; */
        font-size: 6px !important;
        color: #ffac32;
    }

    .kategori a {
        color: #ffac32;
    }

    .course-preview a img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: right;
        top: 0.3px;
        background-position: center;
        right: 0px;
        background-size: cover;
        min-height: 33vh;
        object-fit: cover;
    }

    .course-info {
        padding: 13px 12px 0px 12px;
        position: relative;
        width: 100%;
        color: white;
        background-color: #4992c8;
    }

    .course-info h4 {
        color: white;
        font-size: 9px !important;
    }

    .course-info p {
        font-size: 7px !important;
        margin-top: 10px;
    }
}




.kategori a:hover {
    color: #4992c8;
}

@media only screen and (max-width: 768px) {}

.kategori a:hover {
    color: #4992c8;
}

@media all and (max-width: 670px) {
    .course-info p {
        font-size: 10px;
    }

    #share {
        margin: 0 !important;
    }

    .paragraf {
        line-height: 38px !important;
    }

    .judul {
        padding-top: 102px !important;
    }
}

.judul {
    padding-top: 45px;
}

.paragraf {
    padding: 30px 30px 0px 30px;
    font-size: 17px;
    line-height: 42px;
    color: black !important;
}

#share {
    width: 100%;
    /* margin: 10px auto; */
    margin: 27px -23px;
    text-align: center;
}

#share a {
    color: #fff;
}

#share a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

#share i {
    position: relative;
    top: 37%;
    transform: translateY(-50%);
}

.facebook {
    background: #3b5998;
}

.facebook:hover {
    background: #ffac32;
}

.wa {
    background: #00e025;
}

.wa:hover {
    background: #ffac32;
}


.card2 {
    border-radius: 10px 10px 10px 10px;
    background-color: #2b5286;
    border: none;
}

.card2 .card2-judul {
    text-align: center;
    height: 38px;
    color: #fff;
}

.card2 .card2-judul a {
    font-size: 28px;
    font-family: "open sans", sans-serif;
    margin-top: 5px;
    color: #fff;
}

.card2 .img-hover-zoom {
    max-height: 230px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.card2 .img-hover-zoom img {
    transition: transform 1s ease;
    border-radius: 10px;
    max-height: 100%;
    min-height: -webkit-fill-available;
}

/* [3] Finally, transforming the image when container gets hovered */
.card2 .img-hover-zoom:hover img {
    transform: scale(1.2);
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
    padding: 10px;
}


.material-switch>input[type="checkbox"] {
    display: none;
}

.material-switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    background-color: #ffac32;
}

.material-switch>label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    left: 20px;
}

.card>label {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    height: 78px;
    line-height: 48px;
    margin: 0;
    cursor: pointer;
}

.card>label:hover {
    background-color: #f7f7f7db !important;
}

.card>label:active {
    background-color: #f7f7f7db !important;
}

.card label>.list-item img {
    margin: 10px 0px 22px 10px;
}

.list-item span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    /*margin-bottom: 19px;*/
}

.list-item:checked {
    background-color: black;
}

.manual>label {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    width: 100%;
    height: 78px;
    line-height: 48px;
    margin: 0;
    cursor: pointer;
}

.manual>label:hover {
    background-color: #f7f7f7db !important;
}

.manual>label:active {
    background-color: #f7f7f7db !important;
}

.manual label>.list-item img {
    margin: 10px 0px 22px 0px;
}

.list-item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 72px;
}

.list-item span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    /*margin-bottom: 19px;*/
}

.list-item:checked {
    background-color: black;
}

a>.list-item>.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    /*top: 11.33333px;*/
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    content: '✔';
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    /*z-index: 1000;*/
}

a>.list-item>.option-input:hover {
    background: #ffac32 !important;
}

a>.list-item>.option-input:checked {
    background: #ffac32;
}

a>.list-item>.option-input:checked::before {
    height: 89px;
    width: 33px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 20.66667px;
    text-align: center;
    line-height: 30px;
}

a>.list-item>.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

a>.list-item>.option-input.radio {
    border-radius: 50%;
}

a>.list-item>.option-input.radio::after {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .infaq {
        margin-top: 10px;
    }
}

.rwd-table {
    background: #fff;
    color: #34495e;
    border-radius: 0.4em;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.09);
}

.rwd-table thead {
    background: #2b5286 !important;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}

@media (min-width: 300px) {

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #fff;
}

.rwd-table {
    /*margin: 1em 0;*/
    /*min-width: 300px;*/
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table tr:nth-child(even) {
    background-color: #f8f6ff;
    color: #34495e;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: 0.5em;
}

.rwd-table td:last-child {
    padding-bottom: 0.5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 300px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 300px) {

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        /* padding: 34px; */
        height: 7px;
        font-size: 12px;
        padding: 0.25em 0.5em;
    }
}

.rwd-table th:first-child,
.rwd-table td:first-child {
    padding-left: 0;
}

.rwd-table th:last-child,
.rwd-table td:last-child {
    padding-right: 0;
}
}


.form-donatur a {
    color: #000;
}

.form-donatur .nav-tabs .nav-link.active {
    color: #2b5286;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    background-color: #40e85c;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 25px -6px rgb(175 173 173);
    animation: effect 5s infinite ease-in;
}

.whatsapp:hover,
.whatsapp:active {
    background-color: #fff;
    color: #fdb03a;
}

.trian-gambar-utama {
    width: 100%;
    overflow: auto;
    min-height: 100%;
    /* padding-top: 5vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

@media only screen and (max-width: 780px) {

    #header2 #logo2 img {
        padding: 0;
        margin-top: 10px;
        width: 90px !important;
    }
}

.rwd-table th,
.rwd-table td {
    display: table-cell;
    /* padding: 34px; */
    height: 7px;
    font-size: 13px;
    padding: 0.25em 0.5em;
}

.top-header {
    background: linear-gradient(90deg, rgb(73, 146, 200) 15%, rgb(43, 82, 134) 100%);
}

.top-header .top-nav {
    padding: 5px 0px;
}

.framekonten {
    margin: 0;
    padding: 0;
    /*border: 2px solid #ffff;*/
    height: 300px;
}

.gambarkonten {
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: right;
    position: absolute;
    top: 0.3px;
    right: 0px;
    object-fit: cover;
}

.tagkonten {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.tulisantop-right {
    position: absolute;
    top: 20px;
    left: 15px;
}

.isikontennya {
    text-align: left;
    padding: 70px 55% 10px 20px;
    font-size: 20px;
    color: white;
}

.isikontennya p {
    color: #606060;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

.frameouter {
    background-color: #ea6f29;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 100%;
    /*min-height: 160vh;*/
}

.fplus-about-us-area .about-us-content {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.header-btn {
    background-color: #fff;
    border: 1px solid transparent;
    color: #000;
}

.primary-btn2 {
    color: #000;
    font-weight: 600;
    border: 1px solid #f4f4f4;
    padding: 8px 35px;
    border-radius: 20px;
}

.faq {
    color: #4992c8 !important;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
}

.faq:after {
    content: "\F077";
    font-family: "Font Awesome 5 Free";
    display: block;
    float: right;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1rem;
}

/* .collapsed:after {
    content: "\f078";
} */

.salin {
    color: #4992c8 !important;
    font-weight: 600;
    cursor: pointer;
}

.salin:hover,
.salin:active {
    color: #ffac32 !important;
    font-weight: 600;
    cursor: pointer;
}

.alert-transaksi {
    width: 144px;
    border-radius: 6px;
}

.rek-md-7 {
    margin: 0;
    padding-right: 0;
    max-width: 56.333333%;
}

.my-custom-scrollbar {
    position: relative;
    height: 265px;
    margin-bottom: 20px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.aplikasi {
    max-width: 18%;
    margin: 7px;
}

.dana {
    max-width: 100%;
    padding-top: 13px;
}

.link-aja {
    max-width: 8%;
    margin: 15px 10px;
}

.select2-container .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    height: 38px;
}

.select2-container .select2-selection--single:focus {
    outline: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    color: #5b626b;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #adb5bd transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #adb5bd transparent !important;
    border-width: 0 6px 6px 6px !important;
}

.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #6c757d;
    outline: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #4992c8 !important;
    color: white !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #f8f9fa;
    color: #16181b;
}

.select2-container--default .select2-results__option[aria-selected="true"]:hover {
    background-color: #7a6fbe;
    color: #fff;
}

.select2-results__option {
    padding: 6px 12px;
}

.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.select2-search input {
    border: 1px solid #dee2e6;
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: #5b626b;
}

.select2-container .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
    color: #5b626b;
}

.select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
    color: #5b626b;
}

.select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
    color: #5b626b;
}

.select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
    color: #5b626b;
}

.select2-container .select2-selection--multiple .select2-search__field::placeholder {
    color: #5b626b;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-radius: 1px;
    padding: 0 7px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #ced4da;
}

.instagram-media.instagram-media-rendered {
    width: 100% !important;
    min-width: -webkit-fill-available !important;
}

.instagram-frame {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.SocialProof {
    display: none !important;
}

.Feedback {
    display: none !important;
}

.list {
    color: white;
}

.list a {
    color: white;
}

.list p {
    color: #cacaca;
}

.calendar .list-group-item {
    padding: 0px;
}

.cal {
    background-color: #ffac32;
    padding: 5px;
    color: #fff;
    height: 88px;
    /* display: inline-block; */
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
}

.cal-date {
    font-size: 20px;
}

.cal-month {
    font-size: 12px;
}

.calendar .cal-title {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}

.calendar .cal-intro {
    font-size: 10px;
    margin-top: 0px;
}

.calendar .cal-content {
    padding: 5px;
    font-size: 12px;
}

.calendar .cal-content h5 {
    font-size: 13px;
    margin: 0;
    font-weight: bold;
}

.calendar .cal-content hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.calendar .cal-content {
    margin-top: 2px;
    margin-bottom: 2px;
}
